*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 80%;
    margin: 0 auto;
    height: 10vh;
}
.link{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    margin-left: 50px;
    transition: 0.3s;
}
.link:hover{
    color: #ff4500;
}
.display{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.card{
    width: 30%;
    padding: 15px;
    background: cyan;
    text-align: center;
}